body{
    background-image: url("WhatsApp\ Image\ 2024-02-11\ at\ 06.58.43_67fc71ca.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.totalContent{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr ;
    grid-gap: 5px;
}
div{
    padding: 20px;
}
.box{
    height:50px;
    font-size: large;
    color: beige;
    justify-content: center;
    align-items: start;
}
#logo{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start:1 ;
    grid-column-end: 3;
}
#login{
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start:2 ;
    grid-column-end: 3;
    border: 2px solid rgba(224, 201, 201, 0.57);
    height: 575px;
    background-color: none;
    border-radius: 20px;
    box-shadow: 25px 25px 5px 5px rgba(0, 0, 255, .2);
    backdrop-filter: blur(4px);
}



@keyframes name1{
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 360deg;
    }
    100%{
        rotate: 0deg;
    }
   
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
h2{
    color-scheme: #e1681caf !important;
    text-shadow: red 0 -3px 4px!important;
    margin-left: 12px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}
.name,.password{
    width: 50%;;
    border-radius: 4px;
    padding: 20px;
    border: 2px solid rgba(219, 214, 206, 0.695);
    border-radius: 25px;
    background-color: transparent;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    color: azure;

}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: rgba(73, 50, 174, 0.723) 0 -3px 4px!important;
}
#logInBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: #fff;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
    font-size: 25px;
    font-weight: 900;
    height: 75px;
    border:2px solid rgba(180, 204, 205, 0.766);
    transition: color.5s, font-size .5s, background-color 0.5s;
}
.lastlog{
    height: 275px;
    width:100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
#logInBtn:hover{
    color: #9cf3f7;
    font-size: 35px;
    background-color: #08f70861;
    cursor: pointer;

}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.signup{
    text-decoration: double;
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.5s, font-weight 0.5s;
}
.signup:hover{
    color:#9cf3f7;
    font-weight: 800;
}